@import "tailwindcss";
@import '../src/assets/fonts.css';

@theme {
  --color-primary-text: #EEEEEE;
  --color-secondary-text: #BBBBBB;
  --color-tertiary-text: #5C5C5C;
  --color-button-text: #111111;
  --color-primary-background: #030303;
  --color-stack-card-background: #101012;
  --color-stack-card-background-secondary: #292D33;

  --text-hero-large: 40vw;
}

.default-width{
  width: 85%;
}
