@import "tailwindcss";
@import '../src/assets/fonts.css';

:root {
  overflow-x: hidden;
}

@theme {
  --color-primary-text: #EEEEEE;
  --color-secondary-text: #BBBBBB;
  --color-tertiary-text: #5C5C5C;
  --color-button-text: #111111;
  --color-primary-background: #030303;
  --color-secondary-background: #282828;
  --color-stack-card-background: #101012;
  --color-stack-card-background-secondary: #292D33;

  --text-hero-large: 40vw;
}

.default-width{
  width: 85%;
}

@keyframes collapse {
  0% {
    height: 200px;
  }
  100% {
    height: 0;
  }
}

@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}


.shining-text {
  mask-image: linear-gradient(-90deg, #eeeeee 30%, #eeeeee88 50%, #eeeeee 70%);
  mask-size: 200%;
  animation: shine 3s linear infinite;
}

.collapsible-div {
  height: 200px;
  animation: collapse 500ms ease-in-out 500ms forwards;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #030303;
}

::-webkit-scrollbar-thumb {
  background-color: #5C5C5C;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #BBBBBB;
}